.aboutus {
  margin-bottom: 51px;

  @include vp-1023 {
    .button {
      margin-top: -5px;
    }

    .container {
      padding: 0 50px 25px 224px;
    }

    p {
      line-height: 21.9px;
    }
  }

  @include vp-767 {
    .button {
      display: block;
      width: 59.1%;
      margin-bottom: 3px;
      padding: 8px;

      text-align: center;
    }

    .container {
      padding: 25px;
    }

    h2 {
      margin-top: 16px;

      font-size: 28px;
      line-height: 39px;
      color: $color-default-black;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      color: $color-default-black;
    }
  }

  .button {
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 15px 50px 12px;

    color: $color-primary-blue;

    border-color: $color-primary-blue;

    &:hover,
    &:focus {
      outline-color: $color-primary-blue;
    }
  }

  .container {
    position: relative;

    padding: 30px 30px 64px 280px;

    &::before {
      content: "";
      position: absolute;
      top: 60px;
      left: 30px;

      width: 150px;
      height: 320px;

      background-image: url("/img/bg-aboutus-desktop-1x.webp");
      background-repeat: no-repeat;
      background-size: cover;

      @include retina () {
        background-image: url("../../img/bg-aboutus-desktop-2x.webp");
      }

      @include vp-1023 {
        top: 5px;
        left: 45px;

        background-image: url("../../img/bg-aboutus-tablet-1x.webp");

        @include retina () {
          background-image: url("../../img/bg-aboutus-tablet-2x.webp");
        }
      }

      @include vp-767 {
        display: none;
      }
    }
  }

  h2 {
    margin-bottom: 12px;

    font-size: 36px;
    line-height: 51px;
  }

  p {
    margin-top: 0;
    margin-bottom: 20px;
  }
}
