.button {
  user-select: none;
  display: inline-flex;
  margin: 10px 0;
  padding: 11px 16px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  text-align: center;
  color: $color-primary-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background: none;
  border: 1px solid rgba(242, 245, 246, 1);
  border-radius: 3px;
  cursor: pointer;

  transition: opacity $trans-default;

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  & * {
    font-weight: inherit;
    font-family: inherit;
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover,
    &:focus {
      opacity: 0.8;
    }
  }
}

.button__name {
  margin: 0 auto;

  &--mobile {
    display: none;

    @include vp-767 {
      display: block;
    }
  }

  &--desktop {
    @include vp-767 {
      display: none;
    }
  }
}
