.catalog {
  background-color: $color-default-black;

  @include vp-1023 {
    ul {
      flex-direction: column;
    }

    .catalog__container {
      padding: 25px 50px 45px 50px;
    }

    h3 {
      width: 30%;
    }

    li {
      width: 100%;
      height: 250px;
      margin-right: 0;
      margin-bottom: 30px;
    }

    a {
      padding: 37px 45px;
    }
  }

  @include vp-767 {
    .catalog__container {
      padding: 25px 25px 86px 25px;
    }

    h2 {
      margin-top: 23px;
    }

    h3 {
      width: 75%;

      font-size: 18px;
      line-height: 30px;
    }

    ul {
      align-items: center;
    }

    li {
      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      padding: 26px 30px;
    }
  }

  .catalog__container {
    padding: 35px 30px 110px 30px;
  }

  h2 {
    margin-top: 30px;

    color: $color-secondary-white;
  }

  h3 {
    margin: 0;
    padding: 0;

    font-size: 20px;
    line-height: 30px;
    color: $color-secondary-white;
  }

  ul {
    display: flex;
    flex-wrap: wrap;

    @include reset-ul;
  }

  li {
    position: relative;

    width: 28.6%;
    height: 650px;
    margin-right: 7.1%;
    margin-bottom: 30px;

    background-color: $color-bg-catalog-item;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  a {
    position: relative;

    display: block;
    height: 100%;
    padding: 48px 140px 48px 40px;

    font-size: 20px;
    line-height: 30px;
    color: $color-secondary-white;

    &:hover,
    &:focus-within {
      outline: 3px solid $color-secondary-white;
      outline-offset: 5px;
    }

    &::before {
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;

      width: 60px;
      height: 60px;

      background-color: $color-primary-blue;
      background-image: url("../img/svg/icon-vector.svg");
      background-repeat: no-repeat;
      background-position: center;

      @include vp-767 {
        width: 40px;
        height: 40px;
      }
    }
  }
}


.catalog__name {
  display: block;
  margin-bottom: 54px;

  font-size: 36px;
  line-height: 51px;
  color: $color-secondary-white;

  @include vp-1023 {
    margin-bottom: 38px;
  }

  @include vp-767 {
    margin-bottom: 28px;

    font-size: 28px;
    line-height: 39px;
  }

  &--desktop {
    @include vp-767 {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @include vp-767 {
      display: block;
    }
  }
}

.catalog__item {
  background-color: $color-bg-catalog-item;
  background-position: center;
  background-size: cover;

  &--production {
    @include vp-1024 {
      background-image: url("../img/bg-card-production-desktop-1x.png");

      @include retina () {
        background-image: url("../img/bg-card-production-desktop-2x.png");
      }
    }

    @include vp-1023 {
      background-image: url("../img/bg-card-production-tablet-1x.png");

      @include retina () {
        background-image: url("../img/bg-card-production-tablet-2x.png");
      }
    }

    @include vp-767 {
      background-image: url("../img/bg-card-production-mobile-1x.png");

      @include retina () {
        background-image: url("../img/bg-card-production-mobile-2x.png");
      }
    }
  }

  &--installation {
    @include vp-1024 {
      background-image: url("../img/bg-card-installation-desktop-1x.png");

      @include retina () {
        background-image: url("../img/bg-card-installation-desktop-2x.png");
      }
    }

    @include vp-1023 {
      background-image: url("../img/bg-card-installation-tablet-1x.png");

      @include retina () {
        background-image: url("../img/bg-card-installation-tablet-2x.png");
      }
    }

    @include vp-767 {
      background-image: url("../img/bg-card-installation-mobile-1x.png");

      @include retina () {
        background-image: url("../img/bg-card-installation-mobile-2x.png");
      }
    }
  }

  &--details {
    @include vp-1024 {
      background-image: url("../img/bg-card-details-desktop-1x.png");

      @include retina () {
        background-image: url("../img/bg-card-details-desktop-2x.png");
      }
    }

    @include vp-1023 {
      background-image: url("../img/bg-card-details-tablet-1x.png");

      @include retina () {
        background-image: url("../img/bg-card-details-tablet-2x.png");
      }
    }

    @include vp-767 {
      background-image: url("../img/bg-card-details-mobile-1x.png");

      @include retina () {
        background-image: url("../img/bg-card-details-mobile-2x.png");
      }
    }
  }
}
