.footer {
  background-color: $color-default-black;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  padding: 50px 30px 10px;

  @include vp-1023 {
    flex-direction: column;
    padding: 50px;
    padding-right: 45px;
    padding-bottom: 40px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 23px;
}

.footer__links {
  margin-right: auto;

  @include vp-1023 {
    display: flex;
    justify-content: space-between;
    margin-right: 0;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
  }
}

.footer a,
address {
  color: $color-default-white;

  @include vp-767 {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    font-family: "PT Mono";
    /* or 19px */
    color: rgba(255, 255, 255, 0.7);
  }
}

// .footer__links {
//   display: flex;
// flex-direction: column;
// }

.footer h3 {
  align-items: center;
  margin-top: 0;
  margin-bottom: 20px;

  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  font-family: "Roboto Condensed";
  color: $color-default-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  @include vp-767 {
    margin-bottom: 0;
    padding: 20px 0;
  }
}

.footer__nav {
  display: flex;
  justify-content: flex-start;
  width: 70%;

  @include vp-1023 {
    width: 100%;
  }

  @include vp-767 {
    flex-direction: column;
  }
}

.footer__block {
  width: 50%;
  padding: 7px 10px;

  @include vp-1023 {
    padding: 7px 0;
  }

  @include vp-767 {
    position: relative;

    width: 100%;

    &::before {
      content: "";
      position: absolute;
      left: -30px;

      width: 2000vh;
      height: 1px;

      background-color: white;
    }

    // &::after {
    //   position: absolute;
    //   content: "";
    //   width: 15px;
    //   height: 15px;
    //   background-image: url("../../img/svg/icon-plus.svg");
    //  right: 30px;
    //  top:25px;
    // }
  }
}

.footer__title {
  @include vp-767 {
    display: flex;
    justify-content: space-between;
  }
}

.footer__toggle {
  display: none;

  @include vp-767 {
    display: block;
    width: 15px;
    height: 15px;
    margin-top: 10px;
    padding: 15px;

    background: none;
    background-image: url("../../img/svg/icon-plus.svg");
    background-repeat: no-repeat;
    background-position: center;
    border: none;

    &:hover {
      outline: 3px solid #ffffff;
      outline-offset: 5px;
    }
  }
}

.footer__block ul {
  @include vp-767 {
    display: none;
  }
}
.footer__block--nav {
  width: 70%;

  @include vp-1023 {
    width: 54%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.footer__block--nav ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  height: 150px;
  padding: 0;

  @include vp-1023 {
    height: auto;
  }
}

.footer__block li {
  width: 48%;

  @include vp-1023 {
    width: 70%;
  }

  @include vp-767 {
    width: 100%;
  }
}

.footer__block--nav a {
  display: block;
  padding: 3px 0 4px;
}

.footer__block--contacts a {
  display: block;
  margin-bottom: 7px;
}

.footer address {
  margin: 23px 0 8px;

  font-style: normal;
}

.footer__socials {
  @include vp-1023 {
    padding-top: 5px;
  }
}
