.form {
  position: relative;

  min-height: 840px;
  overflow: hidden;

  background: $color-primary-blue;

  @include vp-1023 {
    min-height: 580px;

    fieldset {
      padding-left: 0;
    }
    legend {
      margin-bottom: 9px;
    }
    .container {
      padding: 45px 50px;
    }

    .form__block {
      width: 100%;
      margin-left: 0;
      padding: 0;
    }

    h2 {
      margin-top: 0;
      margin-bottom: 7px;
    }

    .button {
      width: 265px;
    }
  }

  @include vp-767 {
    .button {
      width: 100%;
      margin-bottom: 12px;
    }
    textarea {
      min-height: 180px;
      margin-bottom: 29px;
    }

    input {
      padding: 15px 15px 16px 15px;
    }

    p {
      width: 100%;
      margin-top: 0;
      margin-bottom: 22px;;
    }

    legend {
      margin-bottom: 34px;

      font-size: 14px;
      line-height: 19px;
    }

    .container {
      padding: 48px 25px 67px 25px;
    }

    h2 {
      font-size: 30px;
      line-height: 42px;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: -1000px;
    left: -295px;

    width: 1000px;
    height: 2000px;

    background: rgba(4, 24, 39, 0.5);
    transform: rotate(49.2deg);

    @include vp-1023 {
      display: none;
    }
  }

  label {
    position: relative;

    display: block;
    padding-left: 20px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    font-family: "PT Mono";
    color: #ffffff;

    opacity: 0.8;

    &::before {
      content: "";
      position: absolute;
      top: 6px;
      left: -6px;

      width: 15px;
      height: 15px;

      border: 2px #ffffff solid;
      border-radius: 2px;
    }
  }

  textarea {
    width: 100%;
    min-height: 155px;
    margin-bottom: 20px;
    padding: 25px 11px;

    color: #ffffff;

    background: rgba(4, 20, 39, 0.15);
    border: none;
    border-radius: 3px;
    box-shadow: none;
    &:focus-visible,
    &:hover {
      outline: auto;
      outline-offset: 5px;
    }
  }

  input {
    width: 100%;
    padding: 15px;

    color: #ffffff;

    background: rgba(4, 20, 39, 0.15);
    border: none;
    border-radius: 5px;
    box-shadow: none;
    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      font-family: "PT Mono";
      color: #ffffff;
    }
  }

  input[type=checkbox]:checked + label {
    &::before {
      background-image: url("../../img/svg/icon-vector.svg");
      background-repeat: no-repeat;
      background-position: center;
      transform: rotate(90deg);
    }
  }

  legend {
    width: 100%;
    margin: 0;
    margin-bottom: 20px;
    padding: none;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    font-family: "PT Mono";
    color: $color-default-white;
  }

  p {
    width: 47.3%;
    margin-bottom: 23px;
  }

  fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    padding-left: 6px;

    border: none;
  }

  .form__block {
    z-index: 1;

    width: 50%;
    margin-left: 40px;
    padding: 25px 25px;
  }

  img {
    position: absolute;
    top: 26%;
    left: 5%;
    z-index: 10;
  }

  .container {
    display: flex;
    justify-content: flex-start;
    padding: 110px 0;
  }

  h2 {
    margin-bottom: 12px;

    font-weight: 400;
    font-size: 36px;
    line-height: 51px;
    font-family: Roboto Condensed;
    text-align: left;
    color: $color-default-white;
    letter-spacing: 0;
  }

  .button {
    display: inline-block;
    align-self: center;
    width: 45.5%;
    height: auto;
    margin-top: 0;
    padding-top: 15px;

    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    font-family: "Roboto Condensed";
    text-align: center;
    letter-spacing: 0.05em;

    background-color: $color-default-black;
    border: none;
  }
}

.form_modal {
  min-height: auto;
  &::before {
    display: none;
  }
}

.form__img {
  position: relative;

  width: 46%;

  @include vp-1023 {
    display: none;
  }
}

.form__agreement {
  align-self: flex-end;
  padding-top: 12px;
  padding-left: 13px;

  @include vp-767 {
    padding-left: 10px;
  }

  &:focus-within {
    border-radius: 3px;
    outline: 3px solid #ffffff;
    outline-offset: 5px;
  }
}
