.header {
  min-height: 885px;

// border: 10px sienna solid;
  color: $color-primary-white;

  background-color: $color-default-black;
  background-image: url("../../img/bg-intro-desktop-1x.png");
  background-size: cover;

}



.header__sticker {

  background: $black-to-right;
  position: sticky;
  position: -webkit-sticky;
  position: relative;
  top: 0;
z-index: 1;
}

.header__sticker .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
}

.header__sticker .button {
  margin: 5px 0;

}



.header__intro .container {
  padding: 158px  50px 50px 155px;
}

.header__intro h2 {
  margin: 30px 0 32px 0;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  font-family: "Roboto Condensed";
  color: #f2f5f7;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.header__intro p {
  width: 685px;

  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  font-family: "PT Mono";
  margin-bottom: 36px;

}

.header__intro .button {
  padding: 17px 27px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21.09px;
  font-family: "Roboto Condensed";
  text-align: center;
  color: $color-primary-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  background-color: $color-primary-blue;
  border: none;

}
