.header {
  min-height: 885px;
  margin-bottom: 85px;

  color: $color-primary-white;

  background-color: $color-default-black;
  background-image: url("../img/bg-intro-desktop-1x.webp");
  background-size: cover;

  @include retina () {
    background-image: url("../img/bg-intro-desktop-2x.webp");
  }

  @include vp-1023 {
    min-height: 640px;
    margin-bottom: 65px;

    background-image: url("../img/bg-intro-tablet-1x.webp");

    @include retina () {
      background-image: url("../img/bg-intro-tablet-2x.webp");
    }
  }

  @include vp-767 {
    min-height: 560px;
    margin-bottom: 45px;

    background-image: url("../img/bg-intro-mobile-1x.webp");

    @include retina () {
      background-image: url("../img/bg-intro-mobile-2x.webp");
    }
  }
}

.header__sticker {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;

  background: $black-to-right;
}

.header__sticker .header__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;

  @include vp-1023 {
    padding: 20px 70px 25px 50px;
  }

  @include vp-767 {
    padding: 10px 20px 20px 26px;
  }
}

.header__logo {
  width: 215px;
  height: 55px;

  pointer-events: none;

  @include vp-767 {
    width: 35px;
    height: 35px;
    margin-top: 5px;
  }
}

.header__sticker .header__button {
  margin: 5px 0;

  @include vp-1023 {
    display: none;
  }
}

.header__intro .header__container {
  padding: 280px  50px 50px 155px;

  @include vp-1023 {
    padding: 148px 50px 25px;
  }

  @include vp-767 {
    padding: 120px 25px 25px;
  }
}

.header__intro h2 {
  margin: 30px 0 32px 0;

  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  text-transform: uppercase;
  letter-spacing: 0.07em;

  @include vp-1023 {
    margin-bottom: 2px;

    font-size: 64px;
    line-height: 75px;
  }

  @include vp-767 {
    margin-bottom: 8px;

    font-size: 36px;
    line-height: 42px;
  }
}

.header__intro p {
  width: 685px;
  margin-bottom: 36px;

  font-size: 22px;
  line-height: 34px;

  @include vp-1023 {
    margin-top: 0;
    margin-bottom: 47px;
  }

  @include vp-767 {
    width: auto;
    margin-bottom: 34px;

    font-size: 14px;
    line-height: 22px;
  }
}

.header__intro .header__button {
  padding: 17px 27px;

  font-size: 18px;
  line-height: 21.09px;
  text-align: center;
  color: $color-primary-white;
  text-transform: uppercase;

  background-color: $color-primary-blue;
  border: none;

  @include vp-1023 {
    margin-left: 45px;
  }

  @include vp-767 {
    width: 100%;
    max-width: 300px;
    margin-left: 0;
    padding: 12px;

    font-size: 14px;
    line-height: 16px;
  }
}
