.header {
  color: $color-primary-white;

  background-color: $color-default-black;
  background-image: url("../../img/bg-intro-desktop-1x.png");
}

.header__sticker {
  background: $black-to-right;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.header__sticker .container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 35px;
}



.header__intro h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  font-family: "Roboto Condensed";
  color: #f2f5f7;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}

.header__intro p {
  width: 685px;

  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 155%;
  font-family: "PT Mono";
  /* or 34px */
}

.header__intro .button {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  font-family: "Roboto Condensed";
  text-align: center;
  color: $color-primary-white;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
