.page {
  background-color: $color-secondary-white;
  box-sizing: border-box;
  min-width: 320px;
  height: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  font-family: "PT Mono", "Times New Roman", serif;
  text-align: left;
  letter-spacing: 0;

  scroll-behavior: smooth;
}

.page a,
.page input,
.page button {
  border-radius: 3px;

  &:hover {
    outline: 3px solid $color-primary-white;
    outline-offset: 5px;
    opacity: 0.8;

    @include vp-767 {
      outline: none;
    }
  }

  &:focus {
    outline: 3px solid $color-primary-white;
    outline-offset: 5px;
  }

  &:active {
    outline: 3px solid $color-primary-white;
    outline-offset: 5px;
  }

  &:disabled {
    opacity: 0.1;
  }
}

.page h2,
.page h3,
.page dd {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
}
