.section {
  margin-bottom: 85px;

  @include vp-1023 {
    margin-bottom: 65px;
  }

  @include vp-767 {
    margin-bottom: 45px;
  }
}

.section__title-high {
  font-weight: 700;
  font-size: 54px;
  line-height: 66px;
  text-align: left;
  letter-spacing: 0;

  @include vp-1023 {
    font-size: 50px;
    line-height: 61px;
  }

  @include vp-767 {
    font-size: 36px;
    line-height: 45px;
  }
}

.section__title-medium {
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  text-align: left;
  letter-spacing: 0;

  @include vp-1023 {
    font-size: 26px;
    line-height: 36px;
  }

  @include vp-767 {
    font-size: 24px;
    line-height: 34px;
  }
}

.section__title-low {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
